.tasks {
  margin: 16px 20px 40px 240px;
}

.task__btnContainer {
  display: flex;
  justify-content: flex-end;
}

.tasks__table {
  margin-top: 16px;
  table-layout: fixed;
  width: 100%;
  overflow: scroll;
}

.tasks__table-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.tasks__empty {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
