.sidebar__btn {
  background-color: #6c2305;
  color: white;
  border: none;

  font-size: 20px;
  height: 48px;
  min-width: 120px;

  cursor: pointer;
  transition: 0.3s;
}

.sidebar__btn:hover {
  opacity: 0.7;
}
