.header {
  background-color: var(--primary);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* Sets botttom, top, left, right to zero */
  inset: 0;
}

.header__title {
  color: var(--dark);
}
