.sidebar {
  position: fixed;
  inset: 0;
  /* right: 0; */
  top: 80px;
  width: 220px;
  height: 100%;
  background-color: #d06d08;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px;
  /* color: white; */
  font-size: 20px;
}

.sidebar__tasks {
  font-weight: 700;
}

.sidebar__btn {
  background-color: #6c2305;
  color: white;
  border: none;

  font-size: 20px;
  height: 48px;
  width: 100%;
  /* margin-top: 1; */
}
